page-todo {

}


.todo-cards {
  margin: 0px auto;
  margin-top: 15px;
}

.todo-loading-div, .no-todo-div {
  text-align: center;
  padding: 30px;
}


.todo-heading {
  padding-top: 5px;
  color: color($colors, orange) !important;
  font-size: 110% !important;
}
