page-todo {
  ion-card-content {
    padding: 7px !important;
  }
}


.todo-cards {
  margin: 0px auto;
  margin-top: 15px;
}

.todo-loading-div, .no-todo-div {
  text-align: center;
  padding: 30px;
}


.todo-heading {
  color: color($colors, orange) !important;
  font-size: 110% !important;
}
