
$font-path: "../assets/fonts";

$app-direction: ltr;


@import "ionic.globals";

$colors: (
  primary:    #16a085,
  secondary:  #1abc9c,
  danger:     #c0392b,
  light:      #ecf0f1,
  dark:       #34495e,
  success:    #27ae60,
  blue:     #2980b9,
  orange:   #d35400,
  red:      #c0392b,
  green:    #16a085
);
// Overwriding statements

$toolbar-background: color($colors, primary);
$text-color: color($colors, dark);
$card-md-text-color: color($colors, dark);

$toast-md-background: #f39c12;
$toolbar-md-title-font-size: 2.5rem;
$fab-md-background-color: #2ecc71;

$font-family-base: 'Ubuntu';
$font-family-ios-base: 'Ubuntu';
$font-family-md-base: 'Ubuntu';
$font-family-wp-base: 'Ubuntu';


$segment-button-md-border-color-activated: color($colors, orange);
$segment-button-md-border-bottom-width: 4px;


@import "ionic.theme.default";



@import "ionic.ionicons";


@import "roboto";
@import "noto-sans";
