@font-face{
  font-family: Ubuntu;
  src: url('../assets/fonts/ubuntu.woff2') format('woff2');
}


@media (min-width: 768px) {
  .hidden-lg {
    display: none !important;
  }
}

.main-menu-active {
  color: color($colors, orange);
}

.nav-items:hover
{
  background-color: color($colors, light);
}

ion-col {
  .col {
    padding: 0px !important;
    margin: 0px !important;
  }
}

ion-grid {
  padding: 0px !important;
}

.main-grid {
  margin-bottom: 50px !important;
}

.card-md {
  padding: 0px !important;
}

hr {
  margin: 3px !important;
}

ion-card-content {
  padding: 0px !important;
}

.card-content-md {
  margin: 0px !important;
}


.toolbar-md {
  height: 56px !important;
} 


@media (min-width: 768px) {
  
  .scroll-content::-webkit-scrollbar {
    width: .5em;
  }
  
  .scroll-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  
  .scroll-content::-webkit-scrollbar-thumb {
  background-color: color($colors, primary);
  outline: 1px solid slategrey;
  }
}

@media (max-width: 768px) {
  .scroll-content::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

ion-menu {
  .scroll-content::-webkit-scrollbar {
    width: 0px !important;
    background: transparent !important;
  }
}


.top-temp {
  font-size: 170%;
}


.orange {
  color: color($colors, orange) !important;
}

.green {
  color: color($colors, primary);
}

.top-settings {
  font-size: 120%;
}


.nav-title {
  text-align: left;
  position: relative;
  left: 0px;
}

.user-item {
  padding: 0px;
  background-color: transparent;
  color: white;
  h1 {
    font-size: 130%;
  }
}

.toast-class {
  text-align: center;
}

ion-spinner * {
  font-size: 200% !important;
  width: 28px !important;
  height: 28px !important;
  stroke: color($colors, orange) !important;
}
