<ion-split-pane when='lg'>
  <ion-menu [content]="content" *ngIf="username">
    <ion-header>
      <ion-toolbar>
        <ion-title class="nav-title">
          <ion-item no-lines class="user-item">
            <ion-avatar item-start>
              <img src="{{photoURL}}">
            </ion-avatar>
            <h1>{{username}}</h1>
          </ion-item>
        </ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-list no-lines style="padding-top: 20px;">
        <button menuClose ion-item *ngFor="let p of pages" class="nav-items" (click)="openPage(p)">
          <ion-icon style="position: relative; left: 5%;" color="{{p.class}}" name="{{p.icon}}" item-start></ion-icon>
          <span style="position: relative; left: 5%;" class="{{p.class}}">{{p.title}}</span>
        </button>
      </ion-list>
    </ion-content>
  
  </ion-menu>
  
  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" main #content swipeBackEnabled="false"></ion-nav>  
</ion-split-pane>