.nav-items:hover
{
  background-color: color($colors, light);
}


ion-title {
  text-align: center;
  position: relative;
  left: -10%;
}

.nav-title {
  text-align: left;
  position: relative;
  left: 0px;
}

.user-item {
  padding: 0px;
  background-color: transparent;
  color: white;
  h1 {
    font-size: 130%;
  }
}

.toast-class {
  text-align: center;
}
