
<ion-header>

  <ion-navbar>
    <ion-title>News</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf='haveData; else loading'>
    <div *ngIf='!error; else errorTemplate'>
      <ion-grid>
        <ion-row align-items-center>
          <ion-col col-12 col-sm-6 *ngFor = 'let news of newsArray'>
              <div>
                  <ion-card class="news-card" (click)="newsClick(news.url)">
                    <img src="{{news.urlToImage}}"/>
                    <ion-card-content>
                      <ion-card-title class="orange">
                        {{news.title}}
                      </ion-card-title>
                      <p>
                        {{news.description}}
                      </p>
                    </ion-card-content>
                  </ion-card>
                </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <ng-template #loading>
    <p text-center>
        <ion-spinner name="crescent"></ion-spinner>
    </p>
  </ng-template>
  <ng-template #errorTemplate text-center>
      <p text-center>There was an error. Please try again later</p>
  </ng-template>
</ion-content>

<ion-footer class="news-footer">
  <ion-segment [ngModel] = "segment" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="hindu">
      The Hindu
    </ion-segment-button>
    <ion-segment-button value="toi">
      TOI
    </ion-segment-button>
    <ion-segment-button value="hacker">
      Hacker News
    </ion-segment-button>
  </ion-segment>
</ion-footer>
